a:hover, a:focus {
  text-decoration: none;
}

body, html {
  background-color: #4081B0;
  color: #fff;
  font-family: azo-sans-web, open sans, sans-serif;
}
@media (min-width: 992px) {
  body, html {
    font-size: 1.05em;
  }
}
@media (min-width: 992px) {
  body, html {
    font-size: 1.05em;
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 8%;
}
@media (min-width: 1200px) {
  section {
    padding: 4% 8%;
  }
}

.single-page-container {
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: playfair-display, serif;
  font-weight: 700;
  margin: 0;
}

h1 {
  font-size: 3.5em;
  font-style: italic;
  text-align: center;
  color: #F7F2ED;
}
@media (min-width: 768px) {
  h1 {
    text-align: left;
    margin: 0.1em 0;
  }
}

h2 {
  color: #BC742B;
  font-size: 2.8em;
  line-height: 1.3;
}
@media (min-width: 768px) {
  h2 {
    font-size: 3.5em;
  }
}
@media (min-width: 1200px) {
  h2 {
    font-size: 3.8em;
  }
}

h3 {
  color: #F7F2ED;
  font-size: 1.7em;
  font-weight: 400;
  margin: 0.3em 0;
  text-align: center;
  letter-spacing: 0.5px;
}
@media (min-width: 768px) {
  h3 {
    font-size: 2em;
  }
}

h4 {
  color: #404248;
  margin: 20px 0;
  font-weight: 600;
  text-align: center;
  line-height: 1.3em;
}
@media (min-width: 1200px) {
  h4 {
    margin: 25px;
  }
}

h5 {
  text-align: center;
}

h6 {
  color: #F7F2ED;
  font-size: 1.3em;
  margin: 3% 0;
  text-align: center;
}
@media (min-width: 1200px) {
  h6 {
    font-size: 1.4em;
  }
}

p {
  font-size: 0.95em;
  line-height: 1.5em;
}

header {
  background-color: #BC742B;
}

.header-logo {
  margin: 0 auto;
  padding-top: 3%;
  width: 60%;
}
@media (min-width: 768px) {
  .header-logo {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .header-logo {
    padding-top: 1.5%;
    width: 40%;
  }
}
@media (min-width: 1400px) {
  .header-logo {
    width: 30%;
  }
}

.builder-item {
  margin-top: 0;
}

.nav-list {
  display: flex;
  flex-wrap: row;
  justify-content: center;
  align-content: space-between;
}
.nav-list li {
  padding: 0 10px 20px 10px;
}
.nav-list li:hover {
  font-weight: 500;
}
.nav-list li a {
  color: #F7F2ED;
}
.nav-list li a:hover {
  color: #fff;
}

.hero {
  position: relative;
  background-image: url(./img/hero.png);
  padding: 5% 10%;
}
@media (min-width: 992px) {
  .hero {
    display: flex;
    justify-content: flex-start;
    background-size: cover;
    background-position: center;
    padding: 11%;
  }
}
@media (min-width: 1200px) {
  .hero {
    padding: 12%;
  }
}

.hero-card {
  background-color: #F7F2ED;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 8%;
}
@media (min-width: 768px) {
  .hero-card {
    padding: 4%;
  }
}
@media (min-width: 1200px) {
  .hero-card {
    max-width: 650px;
  }
}

.hero-text {
  padding: 3% 0;
}
@media (min-width: 992px) {
  .hero-text {
    padding: 3% 1%;
  }
}

.hero-btn {
  margin: 1% 0;
}

.hero-btn a {
  color: #509082;
  padding: 3% 15%;
  border: 1.5px solid #509082;
  border-radius: 30px;
  font-size: 1.2em;
}
@media (min-width: 768px) {
  .hero-btn a {
    font-size: 1em;
    padding: 2.5% 12%;
  }
}
@media (min-width: 1200px) {
  .hero-btn a {
    border: 2px solid #509082;
  }
}
.hero-btn a:hover {
  color: #fff;
  border: 2px transparent #509082;
  background-color: #509082;
  transition: 0.2s;
}

.service-gallery, .book-gallery, .testimonial-gallery {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
  width: 100%;
}

.service {
  width: 25%;
  padding: 0 1%;
}
@media (max-width: 991.98px) {
  .service {
    width: 50%;
    padding: 1% 5%;
  }
}
@media (max-width: 575.98px) {
  .service {
    width: 100%;
    padding: 2% 7%;
  }
}
.service img {
  margin-top: 5%;
  max-width: 100%;
}
.service img:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
@media (max-width: 575.98px) {
  .service {
    max-width: 70%;
  }
}

.book-gallery {
  background-color: #4c90c0;
  padding: 5% 0;
}

.gallery-imgs {
  margin: 3% 2%;
}
@media (max-width: 575.98px) {
  .gallery-imgs:last-child {
    margin-top: 3%;
  }
}
@media (min-width: 1200px) {
  .gallery-imgs {
    margin: 3% 4%;
  }
}
.gallery-imgs img {
  border-radius: 2%;
  box-shadow: 20px 20px 1px #3a3d44cb;
  width: 70%;
}
@media (max-width: 575.98px) {
  .gallery-imgs img {
    box-shadow: 15px 15px 1px #3a3d44cb;
  }
}
@media (min-width: 992px) {
  .gallery-imgs img {
    width: 90%;
  }
}
.gallery-imgs img:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.testimonial {
  display: flex;
  justify-content: center;
  width: 90%;
  padding: 3%;
}
@media (min-width: 768px) {
  .testimonial {
    width: 75%;
  }
}
@media (min-width: 992px) {
  .testimonial {
    width: 50%;
  }
}

.homepage-testimonial {
  display: inherit;
  flex-direction: column;
  border: 2px solid #F7F2ED;
  border-radius: 50px;
  line-height: 1.4em;
  padding: 8%;
  align-items: center;
  justify-content: center;
}
.homepage-testimonial:hover {
  transform: scale(1.03);
  transition: 0.3s;
}
@media (min-width: 1200px) {
  .homepage-testimonial {
    padding: 10%;
  }
}
.homepage-testimonial a {
  color: #fff;
}

.author-info {
  font-size: 0.85em;
  font-weight: 500;
  line-height: 1.2;
}
@media (max-width: 991.98px) {
  .author-info {
    font-size: 0.95em;
  }
}

footer {
  background-color: #BC742B;
}

.social-icons {
  width: 100%;
  text-align: center;
}
.social-icons ul li {
  display: inline-block;
  padding: 0 20px;
  margin-top: 40px;
}
.social-icons img {
  width: 40px;
  height: auto;
}

footer p {
  text-align: center;
  color: #F7F2ED;
  padding: 20px 0;
}
footer p a {
  font-weight: 500;
  color: #F7F2ED;
}
footer p a:hover {
  color: #fff;
}

@media (min-width: 768px) {
  .about-page-wrapper {
    display: flex;
  }
}

@media (min-width: 768px) {
  .about-page-text {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .about-page-text {
    width: 50%;
    margin: 2%;
  }
}

@media (min-width: 768px) {
  .about-page-sidebar {
    width: 40%;
  }
}
@media (min-width: 1200px) {
  .about-page-sidebar {
    width: 50%;
  }
}

.about-image {
  padding: 8%;
  max-width: 500px;
  margin: 0 auto;
}

.about-summary-list {
  color: #fff;
  font-size: 0.9em;
  line-height: 2em;
  border: 1px solid #fff;
  display: block;
  border-radius: 40px;
  padding: 5%;
  margin-top: 8%;
}
@media (min-width: 768px) {
  .about-summary-list {
    margin: 0 0 0 10%;
    padding: 8%;
  }
}

.service-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin: 5% auto;
}
@media (min-width: 576px) {
  .service-row {
    margin: 0 auto;
  }
}

.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3% auto;
}
@media (min-width: 768px) {
  .service-item {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .service-item-images {
    padding: 0 3%;
  }
}

.service-item-text {
  width: 90%;
}
.service-item-text h3 {
  font-weight: 600;
}
@media (min-width: 768px) {
  .service-item-text {
    width: 55%;
  }
}

@media (min-width: 768px) {
  .service-item:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.testimonial-row {
  max-width: 1450px;
  margin: 0 auto;
}

.testimonial-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4%;
}

.book-imgs {
  display: none;
}
@media (min-width: 768px) {
  .book-imgs {
    display: block;
    box-shadow: 20px 25px 1px #3a3d44;
    height: 290px;
  }
}

.testimonial-text {
  border: 2px solid #F7F2ED;
  border-radius: 50px;
  line-height: 1.4em;
  padding: 10% 8%;
  text-align: center;
  width: 90%;
}
@media (min-width: 768px) {
  .testimonial-text {
    padding: 5%;
    width: 55%;
  }
}
.testimonial-text p {
  color: #fff;
}
.testimonial-text .author-info {
  margin-top: 10px;
  font-weight: 500;
  font-size: 0.9em;
  line-height: 1.4;
}

.testimonial-item:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
}

.testimonial-text:nth-child(even) {
  margin-left: 4%;
}

.contact-form {
  font: azo-sans-web, open sans, sans-serif;
  font-size: 0.9em;
}

.wpforms-submit-container {
  display: flex;
  justify-content: center;
}

div.wpforms-container-full .wpforms-form input[type=submit], div.wpforms-container-full .wpforms-form button[type=submit], div.wpforms-container-full .wpforms-form .wpforms-page-button {
  border-radius: 50px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  margin-top: 30px;
  padding: 1% 5%;
}
div.wpforms-container-full .wpforms-form input[type=submit]:hover, div.wpforms-container-full .wpforms-form button[type=submit]:hover, div.wpforms-container-full .wpforms-form .wpforms-page-button:hover {
  background: #fff;
  color: #509082;
  opacity: 1;
}

.blog .container {
  max-width: 1500px;
}

.nv-index-posts {
  width: 100%;
}
@media (min-width: 768px) {
  .nv-index-posts {
    width: 70%;
  }
}

@media (min-width: 768px) {
  .nv-sidebar-wrap {
    width: 20%;
  }
}

.nv-post-thumbnail-wrap {
  margin-bottom: 3%;
  border: none;
}
.nv-post-thumbnail-wrap a {
  color: #fff;
  font-weight: 400;
}
.nv-post-thumbnail-wrap a:hover {
  transition: 0.2s;
  color: #F7F2ED;
}

@media (max-width: 960px) {
  .widget_media_image, .widget_text {
    display: none;
  }
}
.nv-page-title {
  display: none;
}

.content {
  padding: 4% 3% 5%;
}
.content .entry-title {
  text-align: center;
  font-size: 3em;
  line-height: 1.1;
}
.content .entry-title a {
  color: #F7F2ED;
  font-size: 0.8em;
  font-style: italic;
  font-weight: 400;
}
.content .nv-meta-list {
  text-align: center;
}
.content .nv-meta-list li {
  color: #F7F2ED;
}
.content .nv-meta-list li a {
  color: #F7F2ED;
}
.content .entry-summary {
  width: 100%;
  margin: 0 auto;
}
.content .entry-summary a {
  color: #242525;
  font-family: azo-sans-web, open sans, sans-serif;
  font-size: 0.75em;
  padding-left: 1%;
}
@media (min-width: 768px) {
  .content .entry-summary {
    width: 90%;
  }
}

.layout-grid .content .nv-meta-list {
  margin-top: 20px;
}

.post p {
  font-family: eb-garamond, serif;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.4;
  margin-bottom: 25px;
}

h2.comments-title {
  font-weight: 600;
  font-size: 1.3em;
}

.comment-reply-title {
  color: #F7F2ED;
}

.comments-area, .entry-content, .nv-content-wrap, .nv-thumb-wrap {
  margin: 0 12%;
}

.blog-sidebar {
  display: block;
  padding: 0 8%;
}
.blog-sidebar a {
  color: #F7F2ED;
}
.blog-sidebar a:hover {
  color: #fff;
  font-weight: 600;
  transition: 0.2s;
}

.widget_search {
  width: 90%;
  margin: 0 auto 20px;
}

.widget-title {
  font-family: playfair-display, serif;
}
@media (min-width: 992px) {
  .widget-title {
    text-align: center;
  }
}

.entry-header h1 {
  color: #F7F2ED;
  text-align: center;
  font-size: 3em;
  line-height: 1.5;
  width: 90%;
  margin: 0.5em auto;
}
@media (min-width: 576px) {
  .entry-header h1 {
    font-size: 3.5em;
    margin: 0.8em auto;
  }
}
.entry-header .nv-title-meta-wrap {
  color: #F7F2ED;
  text-align: center;
}
.entry-header .nv-title-meta-wrap ul li {
  color: #F7F2ED;
  margin: 0.1em 0;
}
.entry-header .nv-title-meta-wrap ul li a {
  color: #F7F2ED;
}

.nv-comment-content a, .nv-content-wrap a:not(.button):not(.wp-block-file__button) {
  color: #F7F2ED;
  text-decoration: none;
  font-style: italic;
  font-weight: 600;
}

.nv-content-wrap {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 576px) {
  .nv-content-wrap {
    width: 75%;
  }
}
.nv-content-wrap h5 {
  color: #F7F2ED;
  font-size: 1.5em;
  margin-bottom: 0.6em;
}

.comments-area h3 {
  color: #fff;
  font-weight: 600;
}

#comments .comment-reply-title {
  margin-bottom: 0.5em;
}

.single-post-container .nv-sidebar-wrap {
  display: none;
}

.button.button-secondary, #comments input[type=submit], #comments input[type=submit], .cart-off-canvas .button.nv-close-cart-sidebar, .wp-block-button.is-style-secondary .wp-block-button__link {
  color: #F7F2ED;
  font-family: azo-sans-web, open sans, sans-serif;
  font-size: 0.75em;
  text-transform: lowercase;
  border-radius: 30px;
  padding: 10px 25px;
}
.button.button-secondary:hover, #comments input[type=submit]:hover, #comments input[type=submit]:hover, .cart-off-canvas .button.nv-close-cart-sidebar:hover, .wp-block-button.is-style-secondary .wp-block-button__link:hover {
  background-color: #F7F2ED;
  border: #F7F2ED;
  color: #4081B0;
  transition: 0.2s;
}

/*# sourceMappingURL=style.css.map */
