// Colors
$background-blue: #4081B0
$header-color: #F7F2ED
$lighter-blue: #4c90c0
$link-blue: #091269e3
$dark-grey: #242525
$accent-green: #509082
$main-brown: #BC742B
$white: #fff

// Fonts
$p-font: azo-sans-web, open sans, sans-serif
$header-font: playfair-display, serif
$blog-font: eb-garamond, serif

// Min width breakpoints
$min-sm: 576px // landscape phones, 576px and up
$min-md: 768px // tablets, 768px and up
$min-lg: 992px // desktops, 992px and up
$min-xl: 1200px // large desktops, 1200px and up
$min-xxl: 1400px // larger desktops, 1400px and up
$min-xxxl: 1650px // xtra larger desktops, 1650px and up

// Max width breakpoints
$max-sm: 575.98px
$max-md: 767.98px
$max-lg: 991.98px
$max-xl: 1199.98px
$max-xxl: 1399.98px
$max-xxxl: 1649.98px

// Global Styles
a:hover, a:focus
  text-decoration: none

body, html
  background-color: $background-blue
  color: $white
  font-family: $p-font

  @media ( min-width: $min-lg )
    font-size: 1.05em   

  @media ( min-width: $min-lg ) 
    font-size: 1.05em     

section
  display: flex
  flex-direction: column 
  justify-content: center 
  padding: 5% 8%

  @media ( min-width: $min-xl )
    padding: 4% 8%
  
.single-page-container
  padding: 0  

h1, h2, h3, h4, h5, h6
  font-family: $header-font
  font-weight: 700
  margin: 0  

h1
  font-size: 3.5em
  font-style: italic
  text-align: center
  color: $header-color

  @media ( min-width: $min-md)
    text-align: left 
    margin: 0.1em 0 

h2
  color: $main-brown
  font-size: 2.8em
  line-height: 1.3

  @media ( min-width: $min-md )
    font-size: 3.5em

  @media ( min-width: $min-xl)
    font-size: 3.8em  

h3
  color: $header-color
  font-size: 1.7em
  font-weight: 400
  margin: 0.3em 0
  text-align: center
  letter-spacing: 0.5px
  
  @media ( min-width: $min-md)
    font-size: 2em

h4
  color: #404248
  margin: 20px 0
  font-weight: 600
  text-align: center
  line-height: 1.3em

  @media ( min-width: $min-xl)
    margin: 25px

h5
  text-align: center  

h6
  color: $header-color
  font-size: 1.3em
  margin: 3% 0
  text-align: center

  @media ( min-width: $min-xl)
    font-size: 1.4em
p
  font-size: 0.95em
  line-height: 1.5em  

// Header
header
  background-color: $main-brown

.header-logo
  margin: 0 auto
  padding-top: 5%
  width: 70%

  @media ( min-width: $min-md )
    padding-top: 3%
    width: 55%

  @media ( min-width: $min-lg )
    padding-top: 1.5%
    width: 40%

  @media ( min-width: $min-xl )
    width: 28%

// Nav Menu
.builder-item
  margin-top: 0

.nav-list
  display: flex
  flex-wrap: row
  justify-content: center
  align-content: space-between

  li
    padding: 0 10px 20px 10px

    &:hover
        font-weight: 500

    a
      color: $header-color

      &:hover
        color: $white
       
// Hero Section
.hero
  position: relative
  background-image: url(../img/hero.png)
  padding: 5% 10%

  @media ( min-width: $min-lg )
    display: flex
    justify-content: flex-start
    background-size: cover
    background-position: center
    padding: 11%
    
.hero-card
  background-color: $header-color
  display: flex
  flex-direction: column
  max-width: 500px
  padding: 8%

  @media ( min-width: $min-md )
    padding: 4%

  @media ( min-width: $min-xl)
    max-width: 650px

.hero-text
  padding: 3% 0

  @media ( min-width: $min-lg )
    padding: 3% 1%

.hero-btn
  margin: 1% 0  

.hero-btn a
  color: $accent-green
  padding: 3% 15%
  border: 1.5px solid $accent-green
  border-radius: 30px
  font-size: 1.2em

  @media ( min-width: $min-md )
    font-size: 1em
    padding: 2.5% 12%

  @media ( min-width: $min-xl )  
    border: 2px solid $accent-green

  &:hover
    color: $white
    border: 2px transparent $accent-green
    background-color: $accent-green
    transition: 0.2s

//  Homepage Galleries 
.service-gallery, .book-gallery, .testimonial-gallery
  display: flex
  justify-content: center
  flex-flow: row wrap
  text-align: center
  width: 100%

// service gallery
.service
  width: 25%
  padding: 0 1%

  @media ( max-width: $max-lg )
    width: 50%
    padding: 1% 5%

  @media ( max-width: $max-sm )
    width: 100%
    padding: 2% 7%

  img
    margin-top: 5%
    max-width: 100%
 
    &:hover
      transform: scale(1.05)
      transition: 0.2s
 
  @media ( max-width: $max-sm )
    max-width: 70%
  
// book gallery --------
.book-gallery
  background-color: $lighter-blue
  padding: 5% 0

.gallery-imgs
  margin: 3% 2%

  @media ( max-width: $max-sm )
    &:last-child
      margin-top: 3%  

  @media ( min-width: $min-xl ) 
    margin: 3% 4%   

  img
    border-radius: 2%
    box-shadow: 20px 20px 1px #3a3d44cb
    width: 70% 

    @media ( max-width: $max-sm )
      box-shadow: 15px 15px 1px #3a3d44cb

    @media ( min-width: $min-lg )
      width: 90%

    &:hover
      transform: scale(1.05)
      transition: 0.3s
 
// testimonial gallery  
.testimonial
  display: flex
  justify-content: center
  width: 90%  
  padding: 3%

  @media (min-width: $min-md)
    width: 75%

  @media (min-width: $min-lg)
    width: 50%

  // @media (min-width: $min-xl)
  //   width: 43%

.homepage-testimonial
  display: inherit
  flex-direction: column
  border: 2px solid $header-color
  border-radius: 50px
  line-height: 1.4em
  padding: 8%
  align-items: center
  justify-content: center

  &:hover
    transform: scale(1.05)
    transition: 0.3s

  @media (min-width: $min-xl)
    padding: 10%

  a
   color: $white

.author-info
   font-size: 0.85em
   font-weight: 500
   line-height: 1.2

   @media (max-width: $max-lg)
    font-size: 0.95em

// Footer
footer
  background-color: $main-brown

.social-icons
  width: 100%
  text-align: center

  ul li
    display: inline-block
    padding: 0 20px
    margin-top: 40px

  img
    width: 40px
    height: auto

footer p
  text-align: center
  color: $header-color
  padding: 20px 0

  a
    font-weight: 500
    color: $header-color

    &:hover
      color: $white

// About Page
.about-page-wrapper
  @media (min-width: $min-md)
    display: flex

.about-page-text
  @media (min-width: $min-md) 
    width: 60%

  @media (min-width: $min-xl)   
    width: 50%
    margin: 2%
 
.about-page-sidebar
  @media (min-width: $min-md)
    width: 40%

  @media (min-width: $min-xl)   
    width: 50%  
    
.about-summary-list
  color: $white
  font-size: 0.9em
  line-height: 2em
  border: 1px solid $white
  display: block
  border-radius: 40px
  padding: 5%
  margin: 3% 0

  @media (min-width: $min-md)
    margin: 0 0 0 10%
    padding: 8%

// Service Page
.service-row
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  max-width: 1000px
  margin: 5% auto

  @media (min-width: $min-sm)
    margin: 0 auto

.service-item
  display: flex  
  flex-direction: column
  align-items: center
  margin: 3% auto

  @media (min-width: $min-md)
    flex-direction: row

.service-item-images
  @media (min-width: $min-md)
    padding: 0 3%  

.service-item-text
  width: 90%

  h3
    font-weight: 600

  @media (min-width: $min-md)
    width: 55%

.service-item:nth-child(even)
  @media (min-width: $min-md)
    display: flex  
    flex-direction: row-reverse

// Testimonial Page
.testimonial-row
  max-width: 1450px
  margin: 0 auto

.testimonial-item
  display: flex
  justify-content: space-around
  align-items: center
  padding: 4%

.book-imgs 
  display: none

  @media (min-width: $min-md)
    display: block
    box-shadow: 20px 20px 1px #3a3d44
    height: 290px

.testimonial-text
  border: 2px solid $header-color
  border-radius: 50px
  line-height: 1.4em
  padding: 10% 8%
  text-align: center
  width: 90%

  @media (min-width: $min-md)
    padding: 5%  
    width: 55%

  p
    color: $white

  .author-info
    margin-top: 10px
    font-weight: 500
    font-size: 0.9em
    line-height: 1.4

.testimonial-item:nth-child(even)
  display: flex
  flex-direction: row-reverse

.testimonial-text:nth-child(even)
  margin-left: 4%

// Contact Form
.contact-form
  font: $p-font
  font-size: 0.9em

.wpforms-submit-container  
  display: flex
  justify-content: center

div.wpforms-container-full .wpforms-form
  input[type=submit], button[type=submit], .wpforms-page-button
    border-radius: 50px
    background: transparent
    border: 2px solid $white
    color: $white
    margin-top: 30px
    padding: 1% 5%
  
    &:hover
      background: $white
      color: $accent-green
      opacity: 1

// Blog
.blog .container
  max-width: 1500px

.nv-index-posts
  width: 100%

  @media (min-width: $min-md)
    width: 70%

.nv-sidebar-wrap
  @media (min-width: $min-md)
    width: 20%  

.nv-post-thumbnail-wrap
  margin-bottom: 3%
  border: none

  a
    color: $white
    font-weight: 400

    &:hover
      transition: 0.2s
      color: $header-color

@media (max-width: 960px)
  .widget_media_image, .widget_text
    display: none

.nv-page-title 
  display: none

.content  
  padding: 4% 3% 5%

  .entry-title
    text-align: center
    font-size: 3em
    line-height: 1.1

    a
      color: $header-color
      font-size: 0.8em
      font-style: italic
      font-weight: 400 

  .nv-meta-list
    text-align: center
  
    li 
      color: $header-color

      a
        color: $header-color

  .entry-summary
    width: 100%
    margin: 0 auto

    a 
      color: $dark-grey
      font-family: $p-font
      font-size: 0.75em
      padding-left: 1%

    @media (min-width: $min-md)
      width: 90%

.layout-grid .content .nv-meta-list
  margin-top: 20px    

.post p
  font-family: $blog-font
  font-weight: 400
  font-size: 1.2em
  line-height: 1.4
  margin-bottom: 25px

h2.comments-title
  font-weight: 600
  font-size: 1.3em
  
.comment-reply-title
  color: $header-color

.comments-area, .entry-content, .nv-content-wrap, .nv-thumb-wrap
  margin: 0 12%

// Sidebar
.blog-sidebar
  display: block
  padding: 0 8%

.widget_search  
  width: 90%
  margin: 0 auto 20px

.widget-title
  font-family: $header-font  

  @media (min-width: $min-lg)
    text-align: center
  
// Single Post
.entry-header
  h1
    color: $header-color
    text-align: center
    font-size: 3em
    line-height: 1.5
    width: 90%
    margin: 0.5em auto

    @media (min-width: $min-sm)
      font-size: 3.5em
      margin: 0.8em auto
      

  .nv-title-meta-wrap  
    color: $header-color
    text-align: center
    ul li
      color: $header-color
      margin: 0.1em 0
      a
        color: $header-color 
  
.nv-comment-content a, .nv-content-wrap a:not(.button):not(.wp-block-file__button)
  color: $header-color
  text-decoration: none
  font-style: italic
  font-weight: 600

.nv-content-wrap
  width: 90%
  margin: 0 auto

  @media (min-width: $min-sm)
    width: 75%

  h5
    color: $header-color
    font-size: 1.5em  
    margin-bottom: 0.6em

.comments-area
  h3
    color: $white
    font-weight: 600    

#comments .comment-reply-title
  margin-bottom: 0.5em    

.single-post-container                
  .nv-sidebar-wrap 
    display: none

.button.button-secondary, #comments input[type="submit"], #comments input[type=submit], .cart-off-canvas .button.nv-close-cart-sidebar, .wp-block-button.is-style-secondary .wp-block-button__link
  color: $header-color 
  font-family: $p-font  
  font-size: 0.75em
  text-transform: lowercase
  border-radius: 30px 
  padding: 10px 25px

  &:hover
    background-color: $header-color
    border: $header-color
    color: $background-blue
    transition: 0.2s