// Colors
$background-blue: #4081B0 //#4D8FBE
$header-color: #F7F2ED
$lighter-blue: #4c90c0
$dark-grey: #242525
$accent-green: #509082
$main-brown: #BC742B
$white: #fff

// Fonts
$p-font: azo-sans-web, open sans, sans-serif
$header-font: playfair-display, serif

// Min width breakpoints
$min-sm: 576px // landscape phones, 576px and up
$min-md: 768px // tablets, 768px and up
$min-lg: 992px // desktops, 992px and up
$min-xl: 1200px // large desktops, 1200px and up
$min-xxl: 1400px // larger desktops, 1400px and up
$min-xxxl: 1650px // xtra larger desktops, 1650px and up

// Max width breakpoints
$max-sm: 575.98px
$max-md: 767.98px
$max-lg: 991.98px
$max-xl: 1199.98px
$max-xxl: 1399.98px
$max-xxxl: 1649.98px

// Global Styles
a:hover, a:focus
  text-decoration: none

body, html
  background-color: $background-blue
  color: $white
  font-family: $p-font

  @media ( min-width: $min-xl )
    font-size: 1.1em    

section
  display: flex
  flex-direction: column 
  justify-content: center 
  padding: 5% 8%

  @media ( min-width: $min-xl )
    padding: 4% 8%
  
.single-page-container
  padding: 0  

h1, h2, h3, h4, h5, h6
  font-family: $header-font
  font-weight: 700
  margin: 0  

h1
  font-size: 3.5em
  font-style: italic
  text-align: center
  color: $header-color

  @media ( min-width: $min-md)
    text-align: left 
    margin: 0.1em 0 

h2
  color: $main-brown
  font-size: 2.8em
  line-height: 1.3

  @media ( min-width: $min-md )
    font-size: 3.5em

  @media ( min-width: $min-xl)
    font-size: 3.8em  

h3
  color: $header-color
  font-size: 2em
  font-weight: 400
  margin: 0.2em
  text-align: center
  letter-spacing: 0.5px
  
  @media ( min-width: $min-md)
    margin: 0.3em

h4
  color: #404248
  margin: 20px 0
  font-weight: 600
  text-align: center
  line-height: 1.3em

  @media ( min-width: $min-xl)
    margin: 25px

h5
  text-align: center  

h6
  color: $header-color
  font-size: 1.3em
  margin: 3% 0
  text-align: center

  @media ( min-width: $min-xl)
    font-size: 1.4em
p
  font-size: 0.95em
  line-height: 1.5em  

// Header
header
  background-color: $main-brown

.header-logo
  margin: 0 auto
  padding-top: 5%
  width: 70%

  @media ( min-width: $min-md )
    padding-top: 3%
    width: 55%

  @media ( min-width: $min-lg )
    padding-top: 1.5%
    width: 40%

  @media ( min-width: $min-xl )
    width: 28%

// Nav Menu
.builder-item
  margin-top: 0

.nav-list
  display: flex
  flex-wrap: row
  justify-content: center
  align-content: space-between

  li
    padding: 0 10px 20px 10px

    &:hover
        font-weight: 500

    a
      color: $header-color

      &:hover
        color: $white
       
// Hero Section
.hero
  position: relative
  background-image: url(../img/hero.png)
  padding: 5% 10%

  @media ( min-width: $min-lg )
    display: flex
    justify-content: flex-start
    background-size: cover
    background-position: center
    padding: 11%
    
.hero-card
  background-color: $header-color
  display: flex
  flex-direction: column
  max-width: 500px
  padding: 8%

  @media ( min-width: $min-md )
    padding: 4%

  @media ( min-width: $min-xl)
    max-width: 650px

.hero-text
  padding: 3% 0

  @media ( min-width: $min-lg )
    padding: 3% 1%

.hero-btn
  margin: 1% 0  

.hero-btn a
  color: $accent-green
  padding: 3% 15%
  border: 1.5px solid $accent-green
  border-radius: 30px
  font-size: 1.2em

  @media ( min-width: $min-md )
    font-size: 1em
    padding: 2.5% 12%

  @media ( min-width: $min-xl )  
    border: 2px solid $accent-green

  &:hover
    color: $white
    border: 2px transparent $accent-green
    background-color: $accent-green
    transition: 0.2s

//  Homepage Galleries 
.service-gallery, .book-gallery, .testimonial-gallery
  display: flex
  justify-content: center
  flex-flow: row wrap
  text-align: center
  width: 100%

// service gallery
.service
  width: 25%
  padding: 0 1%

  @media ( max-width: $max-lg )
    width: 50%
    padding: 1% 5%

  @media ( max-width: $max-sm )
    width: 100%
    padding: 2% 7%

  img
    max-width: 80%
 
    &:hover
      transform: scale(1.05)
      transition: 0.2s
 
  @media ( max-width: $max-sm )
    max-width: 70%
  
// book gallery --------
.book-gallery
  background-color: $lighter-blue
  padding: 5% 0

.gallery-imgs
  margin: 3% 2%

  @media ( max-width: $max-sm )
    &:last-child
      margin-top: 3%  

  @media ( min-width: $min-xl ) 
    margin: 3% 4%   

  img
    border-radius: 2%
    box-shadow: 20px 20px 1px #3a3d44cb
    width: 70% 

    @media ( max-width: $max-sm )
      box-shadow: 15px 15px 1px #3a3d44cb

    @media ( min-width: $min-xl )
      width: 110%

    &:hover
      transform: scale(1.05)
      transition: 0.3s
 
// testimonial gallery  
.testimonial
  display: flex
  justify-content: center
  width: 90%  
  padding: 3%

  @media (min-width: $min-md)
    width: 75%

  @media (min-width: $min-lg)
    width: 50%

  @media (min-width: $min-xl)
    width: 43%

.homepage-testimonial
  display: inherit
  flex-direction: column
  border: 2px solid $header-color
  border-radius: 50px
  line-height: 1.4em
  padding: 8%
  align-items: center
  justify-content: center

  @media (min-width: $min-xl)
    padding: 10%

  a
   color: $white

.author-info
   font-size: 0.85em
   font-weight: 500
   line-height: 1.2

   @media (max-width: $max-lg)
    font-size: 0.95em

/* ------------------- F O O T E R -------------------
footer
  background-color: $main-brown

.social-icons
  width: 100%
  text-align: center

  ul li
    display: inline-block
    padding: 0 20px
    margin-top: 40px

  img
    width: 40px
    height: auto

footer p
  text-align: center
  color: $header-color
  padding: 20px 0

  a
    font-weight: 500
    color: $header-color

    &:hover
      color: $white

// About Page
.about-page-wrapper
  @media (min-width: $min-md)
    display: flex

.about-page-text
  @media (min-width: $min-md) 
    width: 60%

  @media (min-width: $min-xl)   
    width: 50%
    margin: 2%
 
.about-page-sidebar
  @media (min-width: $min-md)
    width: 40%

  @media (min-width: $min-xl)   
    width: 50%  
    
.about-summary-list
  color: $white
  font-size: 0.9em
  line-height: 2em
  border: 1px solid $white
  display: block
  border-radius: 40px
  padding: 5%
  margin: 3% 0

  @media (min-width: $min-md)
    margin: 0 0 0 10%
    padding: 8%

// Service Page
.service-intro
  font-style: italic
  line-height: 1.5em
  margin: 3% 13% -2% 13%
  text-align: center

.service-row
  margin: 0 auto

.service-item
  display: flex
  flex-wrap: row
  margin-bottom: 80px
  align-items: center

.service-item-images
  margin-top: 5%
  width: 40%
  display: inline-block
  padding-left: 7%

.service-item-text
  width: 59%
  display: inline-block
  padding-right: 6%

.service-item:nth-child(even)
  display: flex
  flex-direction: row-reverse

.service-item-text:nth-child(even)
  width: 50%
  padding-right: 0

// Testimonial Page
.testimonial-row
  max-width: 1450px
  margin: 0 auto

.testimonial-item
  display: flex
  justify-content: space-around
  align-items: center
  padding: 4%

.book-imgs 
  display: none

  @media (min-width: $min-md)
    display: block
    box-shadow: 20px 20px 1px #3a3d44
    height: 290px

.testimonial-text
  border: 2px solid $header-color
  border-radius: 50px
  line-height: 1.4em
  padding: 10% 8%
  text-align: center
  width: 90%

  @media (min-width: $min-md)
    padding: 5%  
    width: 55%

  p
    color: $white

  .author-info
    margin-top: 10px
    font-weight: 500
    font-size: 0.9em
    line-height: 1.4

.testimonial-item:nth-child(even)
  display: flex
  flex-direction: row-reverse

.testimonial-text:nth-child(even)
  margin-left: 4%

/* CONTACT PAGE
.contact-form
  font: $p-font
  font-size: 0.9em

.wpforms-submit-container  
  display: flex
  justify-content: center

div.wpforms-container-full .wpforms-form
  input[type=submit], button[type=submit], .wpforms-page-button
    border-radius: 50px
    background: transparent
    border: 2px solid $white
    color: $white
    margin-top: 30px
    padding: 1% 5%
  
    &:hover
      background: $white
      color: $accent-green
      opacity: 1

/* BLOG
/* ---- Blog Archive ----

.archive-container .row
  width: 100%

.blog-row
  margin: 4% auto
  width: 95%

.nv-index-posts
  width: 70%

.nv-post-thumbnail-wrap
  margin-bottom: 3%

.content h2
  font-family: $header-font
  font-size: 3em
  font-weight: 800

.entry-title a:hover
  color: $header-color

a
  color: #404248

  &:hover
    transition: 0.2s
    color: $header-color

/* --- testimonials media queries ---
@media (max-width: 960px)
  .widget_media_image, .widget_text
    display: none

/* ---- Single Blog Post ----

.nv-title-meta-wrap h1
  color: $white
  font-size: 3.5em
  font-weight: 800

.single-post-container .row
  width: 100%

.nv-content-wrap .entry-content
  margin: 20px

h2.comments-title
  color: #404248
  font-weight: 600
  font-size: 1.3em

.blog-sidebar p
  text-align: center

.post p
  font-family: 'Garamond'
  font-size: 1.3em
  line-height: 1.5em
  margin-bottom: 15px
  font-weight: 500

.entry-content h2
  color: $header-color
  font-weight: 600
  font-size: 1.7em
  line-height: 120%
  margin: 40px 0 15px

.comment-reply-title
  color: $header-color

.comments-area, .entry-content, .nv-content-wrap, .nv-thumb-wrap
  margin: 0 12%
