a:hover, a:focus {
  text-decoration: none;
}

body, html {
  background-color: #4081B0;
  color: #fff;
  font-family: azo-sans-web, open sans, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: playfair-display, serif;
  margin: 0;
}

h1 {
  font-size: 3.5em;
  font-style: italic;
  font-weight: 700;
  margin: 0.5em 0;
  width: 100%;
  justify-content: flex-start;
}

.row {
  padding: 0 10%;
}

p {
  margin-bottom: 0;
  font-size: 0.95em;
  line-height: 1.5em;
}

h3 {
  color: #F7F2ED;
  font-size: 2em;
  margin-top: 0px;
  text-align: center;
}

h6 {
  color: #F7F2ED;
  font-weight: 700;
  font-size: 1.3em;
  margin-top: 15px;
  text-align: center;
}

/* --- global styles media queries --- */
@media (max-width: 768px) {
  p {
    line-height: 1.6em;
  }

  h6 {
    font-size: 1.3em;
  }
}
/* --------------------- H E A D E R -------------------- */
header {
  background-color: #BC742B;
  text-align: center;
}
header .header-logo {
  width: 40%;
  height: auto;
  padding-top: 35px;
  padding-bottom: 5px;
  margin: 0 auto;
}

.header-logo img {
  height: auto;
}

/* Site Title & Logo */
.site-logo h1, .site-logo p {
  font-family: playfair-display, serif, serif;
  font-size: 2em;
  font-weight: 600;
}

/* --- site title media queries --- */
@media (max-width: 768px) {
  header .header-logo {
    padding-top: 20px;
    width: 80%;
  }
}
@media (max-width: 480px) {
  header .header-logo {
    width: 80%;
  }
}
/* Nav Menu */
.header-top-inner {
  background-color: #BC742B;
}

.builder-item {
  margin-top: 0;
}

.nav-list {
  display: flex;
  flex-wrap: row;
  justify-content: center;
  align-content: space-between;
}
.nav-list li {
  padding: 0 10px 20px 10px;
}
.nav-list li:hover {
  font-weight: 500;
}
.nav-list li a {
  color: #F7F2ED;
}
.nav-list li a:hover {
  color: #fff;
}

/*------- navbar media queries ----- */
@media (max-width: 1024px) {
  .nav-list li {
    padding: 0 5px 20px 5px;
  }
  .nav-list li a {
    font-size: 0.9em;
  }
}
/* Hero Img */
.hero {
  position: relative;
}

.hero-img {
  background-image: url(../img/hero.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/* Welcome Card */
.hero-card {
  background-color: #F7F2ED;
  display: flex;
  flex-direction: column;
  padding: 4%;
  position: absolute;
  top: 15%;
  left: 10%;
  max-width: 500px;
}

.hero-text {
  padding: 3% 0;
}

h2 {
  color: #BC742B;
  font-weight: 700;
  font-size: 3.5em;
  line-height: 1.3em;
}

h4 {
  color: #404248;
  margin: 20px 0;
  font-weight: 600;
  text-align: center;
  line-height: 1.3em;
}

h5 {
  font-weight: 700;
  font-size: 1.1em;
  text-align: center;
}

.hero-btn a {
  color: #509082;
  padding: 10px 50px;
  border: 1.5px solid #509082;
  border-radius: 30px;
}
.hero-btn a:hover, .hero-btn a:active {
  color: #fff;
  border: 2px transparent #509082;
  background-color: #509082;
  transition: 0.2s;
}

/* --- welcome card media queries --- */
@media (max-width: 768px) {
  h2 {
    font-size: 2.7em;
    line-height: 1.2em;
  }

  h4 {
    color: #404248;
    margin-top: 10px;
    margin-bottom: 0;
  }

  h5 {
    font-weight: 700;
    font-size: 0.9em;
    text-align: center;
    margin-top: 35px;
  }

  .welcome-btn a:link, .welcome-btn a:visited {
    padding: 10px 40px;
  }
}
@media (max-width: 480px) {
  .welcome-card {
    padding: 30px 30px 25px 30px;
    width: 60%;
  }

  h2 {
    font-size: 2.1em;
    line-height: 1.2em;
  }
}
@media (max-width: 400px) {
  .welcome-card {
    padding: 30px 25px 15px 25px;
    width: 60%;
  }

  h2 {
    font-size: 1.6em;
    line-height: 1.2em;
  }

  h4 {
    font-size: 0.9em;
  }

  h5 {
    font-size: 0.8em;
  }

  .welcome-btn a:link, .welcome-btn a:visited {
    padding: 8px 30px;
  }
}
/* --- Homepage Galleries --- */
.service-gallery, .book-gallery, .testimonial-gallery {
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-flow: row wrap;
  text-align: center;
  width: 100%;
}

img {
  height: 100%;
  max-width: 100%;
}

.service {
  width: 25%;
  padding: 0 1%;
  margin: 7% auto;
}

.book-gallery {
  background-color: #4D8FBE;
  padding: 8% 0;
}

.gallery-imgs {
  border-radius: 3px;
  box-shadow: 20px 20px 1px #3a3d44cb;
  margin: 0 6%;
  width: 20%;
}

.testimonial {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 5% 0;
  padding: 3%;
}

.homepage-testimonial {
  border: 2px solid #F7F2ED;
  border-radius: 50px;
  line-height: 1.4em;
  padding: 8%;
  align-items: center;
}
.homepage-testimonial a {
  color: #fff;
}
.homepage-testimonial a:hover {
  color: #fff;
}

/* --- homepage testimonial media queries --- */
@media (max-width: 1024px) {
  .service {
    width: 50%;
    padding: 0 4%;
    margin: 4% 0;
  }

  .service-gallery {
    margin-top: 5%;
    margin-bottom: 7%;
  }

  .homepage-testimonial {
    border: 1px solid #F7F2ED;
  }
}
@media (max-width: 768px) {
  .service {
    width: 48%;
    padding: 0 6%;
  }

  .homepage-images {
    border: 3px solid #F7F2ED;
  }

  .testimonial {
    width: 100%;
    margin: 1% 0%;
  }

  .testimonial-gallery {
    margin: 3% 0;
  }
}
@media (max-width: 480px) {
  .service {
    width: 90%;
    padding: 0 4%;
  }
  .service figure {
    width: 60%;
    margin: 0 auto;
  }

  .book-gallery {
    padding: 10% 0;
  }

  .testimonial {
    margin: 3% 0;
  }

  .testimonial-gallery {
    padding: 5% 0;
  }

  .homepage-images {
    border: 3px solid #F7F2ED;
    width: 50%;
  }

  .homepage-testimonial {
    border: 0.5px solid #F7F2ED;
    border-radius: 40px;
  }
}
/* ------------------- F O O T E R ------------------- */
footer {
  background-color: #BC742B;
}

.social-icons {
  width: 100%;
  text-align: center;
}
.social-icons ul li {
  display: inline-block;
  padding: 0 20px;
  margin-top: 40px;
}
.social-icons img {
  width: 40px;
  height: auto;
}

footer p {
  text-align: center;
  color: #F7F2ED;
  padding: 20px 0;
}
footer p a {
  font-weight: 500;
  color: #F7F2ED;
}
footer p a:hover {
  color: #fff;
}

/* --- footer styles media queries --- */
@media (max-width: 768px) {
  .social-icons ul li {
    margin-top: 35px;
  }
  .social-icons img {
    width: 35px;
  }
}
@media (max-width: 480px) {
  .social-icons ul li {
    padding: 0 15px;
  }
}
/* ------------------- P A G E S ------------------- */
/* --- ABOUT --- */
.about-page-text {
  display: inline-block;
  width: 65%;
  padding: 0 3% 5% 3%;
}

.about-page-sidebar {
  width: 35%;
  display: inline-block;
  padding: 0 3%;
}

.about-summary-list {
  color: #fff;
  font-size: 0.9em;
  line-height: 2em;
  border: 1px solid #fff;
  display: block;
  border-radius: 40px;
  padding: 8% 10%;
  margin-bottom: 50px;
}

/* --- about media queries --- */
@media (min-width: 1300px) {
  .about-summary {
    margin-top: -10%;
  }
}
@media (max-width: 1024px) {
  .about-summary {
    margin-top: -110%;
  }
}
@media (max-width: 768px) {
  .about-page-sidebar {
    display: none;
  }

  .about-page-text {
    width: 100%;
    text-align: center;
    padding: 0 5%;
  }
}
/* --- SERVICES --- */
.service-intro {
  font-style: italic;
  line-height: 1.5em;
  margin: 3% 13% -2% 13%;
  text-align: center;
}

.service-row {
  margin: 0 auto;
}

.service-item {
  display: flex;
  flex-wrap: row;
  margin-bottom: 80px;
  align-items: center;
}

.service-item-images {
  margin-top: 5%;
  width: 40%;
  display: inline-block;
  padding-left: 7%;
}

.service-item-text {
  width: 59%;
  display: inline-block;
  padding-right: 6%;
}

.service-item:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
}

.service-item-text:nth-child(even) {
  width: 50%;
  padding-right: 0;
}

/* --- services media queries --- */
/* --- testimonials media queries --- */
@media (max-width: 1024px) {
  .service-item-images {
    width: 44%;
    padding-left: 3%;
  }

  .service-item-text {
    width: 55%;
    padding-right: 0;
  }

  .service-item {
    margin-bottom: 60px;
  }
}
@media (max-width: 768px) {
  .service-item:nth-child(even) {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .service-item-text:nth-child(even) {
    width: 70%;
  }

  .service-item-images {
    display: block;
    margin: 2% 20%;
    width: 50%;
  }

  .service-item-text {
    padding-right: 0;
    text-align: center;
  }

  .service-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }

  .tab-space {
    padding-left: 0px;
  }

  h1 {
    font-size: 2.8em;
  }

  h3 {
    font-size: 1.7em;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 1.5em;
  }
}
/* --- TESTIMONIALS --- */
.testimonial-row {
  margin-bottom: 50px;
}

.testimonial-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 30px 0;
}

.book-images {
  width: 35%;
  display: inline-block;
  padding-left: 8%;
}

.image-border {
  border: 4px solid #F7F2ED;
  border-radius: 5px;
  width: 220px;
  height: 290px;
  overflow: hidden;
}

.testimonial-text {
  border: 2px solid #F7F2ED;
  border-radius: 50px;
  width: 50%;
  display: inline-block;
  line-height: 1.4em;
  padding: 5%;
  text-align: center;
  margin: 4%;
}

.author-info {
  margin-top: 10px;
  font-weight: 500;
  font-size: 0.9em;
  color: #242525;
}

.testimonial-item:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
}

.testimonial-text:nth-child(even) {
  margin-left: 6%;
}

/* --- testimonials media queries --- */
@media (max-width: 1024px) {
  .image-border {
    border: 3px solid #F7F2ED;
  }

  .book-images:nth-child(odd) {
    padding-left: 6%;
  }
}
@media (max-width: 768px) {
  .book-images {
    display: none;
  }

  .testimonial-text {
    display: block;
    border-radius: 40px;
    margin: 10px 0;
    width: 80%;
    padding: 5%;
  }

  .author-info {
    font-size: 0.9em;
  }
}
/* CONTACT PAGE */
.contact-form {
  padding: 0 8%;
  color: #F7F2ED;
  font: azo-sans-web, open sans, sans-serif;
}

div.wpforms-container-full .wpforms-form input[type=submit], div.wpforms-container-full .wpforms-form button[type=submit], div.wpforms-container-full .wpforms-form .wpforms-page-button {
  border-radius: 20px;
  border: none;
  background-color: #509082;
  color: #fff;
  margin-top: 15px;
  padding: 10px 30px;
}

/* BLOG */
/* ---- Blog Archive ---- */
.archive-container .row {
  width: 100%;
}

.blog-row {
  margin: 4% auto;
  width: 95%;
}

.nv-index-posts {
  width: 70%;
}

.nv-post-thumbnail-wrap {
  margin-bottom: 3%;
}

.content h2 {
  font-family: playfair-display, serif;
  font-size: 3em;
  font-weight: 800;
}

.entry-title a:hover {
  color: #F7F2ED;
}

a {
  color: #404248;
}
a:hover {
  transition: 0.2s;
  color: #F7F2ED;
}

/* --- testimonials media queries --- */
@media (max-width: 960px) {
  .widget_media_image, .widget_text {
    display: none;
  }
}
/* ---- Single Blog Post ---- */
.nv-title-meta-wrap h1 {
  color: #fff;
  font-size: 3.5em;
  font-weight: 800;
}

.single-post-container .row {
  width: 100%;
}

.nv-content-wrap .entry-content {
  margin: 20px;
}

h2.comments-title {
  color: #404248;
  font-weight: 600;
  font-size: 1.3em;
}

.blog-sidebar p {
  text-align: center;
}

.post p {
  font-family: "Garamond";
  font-size: 1.3em;
  line-height: 1.5em;
  margin-bottom: 15px;
  font-weight: 500;
}

.entry-content h2 {
  color: #F7F2ED;
  font-weight: 600;
  font-size: 1.7em;
  line-height: 120%;
  margin: 40px 0 15px;
}

.comment-reply-title {
  color: #F7F2ED;
}

.comments-area, .entry-content, .nv-content-wrap, .nv-thumb-wrap {
  margin: 0 12%;
}

/* --- single blog post media queries --- */
@media (max-width: 1024px) {
  .nv-title-meta-wrap h1 {
    font-size: 3em;
    line-height: 140%;
  }
}
@media (max-width: 480px) {
  .nv-title-meta-wrap h1 {
    font-size: 2.3em;
    font-weight: 800;
  }

  .entry-content h2 {
    font-size: 1.5em;
  }
}

/*# sourceMappingURL=style.css.map */
