a:hover, a:focus {
  text-decoration: none;
}

body, html {
  background-color: #4081B0;
  color: #fff;
  font-family: azo-sans-web, open sans, sans-serif;
}
@media (min-width: 1200px) {
  body, html {
    font-size: 1.1em;
  }
}

section {
  display: flex;
  justify-content: center;
  padding: 8% 6%;
}
@media (min-width: 1200px) {
  section {
    padding: 6%;
  }
}

.page {
  padding: 0;
}

.container {
  padding: 3% 5%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: playfair-display, serif;
  margin: 0;
}

h1 {
  font-size: 3.5em;
  font-style: italic;
  font-weight: 700;
  margin: 0.1em 0;
  text-align: center;
  color: #F7F2ED;
}
@media (min-width: 768px) {
  h1 {
    text-align: left;
  }
}

h2 {
  color: #BC742B;
  font-weight: 700;
  font-size: 2.8em;
  line-height: 1.3;
}
@media (min-width: 768px) {
  h2 {
    font-size: 3.5em;
  }
}
@media (min-width: 1200px) {
  h2 {
    font-size: 3.8em;
  }
}

h3 {
  color: #F7F2ED;
  font-size: 2em;
  margin-top: 0px;
  text-align: center;
}

h4 {
  color: #404248;
  margin: 20px 0;
  font-weight: 600;
  text-align: center;
  line-height: 1.3em;
}
@media (min-width: 1200px) {
  h4 {
    margin: 25px;
  }
}

h5 {
  font-weight: 700;
  text-align: center;
}

h6 {
  color: #F7F2ED;
  font-weight: 700;
  font-size: 1.3em;
  margin: 3% 0;
  text-align: center;
}
@media (min-width: 1200px) {
  h6 {
    font-size: 1.4em;
  }
}

p {
  font-size: 0.95em;
  line-height: 1.5em;
}

/* --------------------- H E A D E R -------------------- */
header {
  background-color: #BC742B;
}

.header-logo {
  margin: 0 auto;
  padding-top: 5%;
  width: 75%;
}
@media (min-width: 768px) {
  .header-logo {
    padding-top: 3%;
    width: 55%;
  }
}
@media (min-width: 992px) {
  .header-logo {
    padding-top: 1.5%;
    width: 40%;
  }
}
@media (min-width: 1200px) {
  .header-logo {
    width: 28%;
  }
}

/* Site Title & Logo */
.site-logo h1, .site-logo p {
  font-family: playfair-display, serif;
  font-size: 2em;
  font-weight: 600;
}

/* Nav Menu */
.builder-item {
  margin-top: 0;
}

.nav-list {
  display: flex;
  flex-wrap: row;
  justify-content: center;
  align-content: space-between;
}
.nav-list li {
  padding: 0 10px 20px 10px;
}
.nav-list li:hover {
  font-weight: 500;
}
.nav-list li a {
  color: #F7F2ED;
}
.nav-list li a:hover {
  color: #fff;
}

/* Hero Section */
.hero {
  position: relative;
  background-image: url(../img/hero.png);
  padding: 5% 10%;
}
@media (min-width: 992px) {
  .hero {
    display: flex;
    justify-content: flex-start;
    background-size: cover;
    background-position: center;
    padding: 11%;
  }
}

.hero-card {
  background-color: #F7F2ED;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 8%;
}
@media (min-width: 768px) {
  .hero-card {
    padding: 4%;
  }
}
@media (min-width: 1200px) {
  .hero-card {
    max-width: 650px;
  }
}

.hero-text {
  padding: 3% 0;
}
@media (min-width: 992px) {
  .hero-text {
    padding: 3% 1%;
  }
}

.hero-btn {
  margin: 1% 0;
}

.hero-btn a {
  color: #509082;
  padding: 3% 15%;
  border: 1.5px solid #509082;
  border-radius: 30px;
  font-size: 1.2em;
}
@media (min-width: 768px) {
  .hero-btn a {
    font-size: 1em;
    padding: 2.5% 12%;
  }
}
@media (min-width: 1200px) {
  .hero-btn a {
    border: 2px solid #509082;
  }
}
.hero-btn a:hover {
  color: #fff;
  border: 2px transparent #509082;
  background-color: #509082;
  transition: 0.2s;
}

/* --- Homepage Galleries --- */
.service-gallery, .book-gallery, .testimonial-gallery {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
  width: 100%;
}

.service {
  width: 25%;
  padding: 0 1%;
}
@media (max-width: 991.98px) {
  .service {
    width: 50%;
    padding: 1% 5%;
  }
}
@media (max-width: 575.98px) {
  .service {
    width: 100%;
    padding: 2% 7%;
  }
}
.service img {
  max-width: 80%;
}
.service img:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
@media (max-width: 575.98px) {
  .service {
    max-width: 70%;
  }
}

.book-gallery {
  background-color: #4c90c0;
  padding: 5% 0;
}

.gallery-imgs {
  margin: 3% 2%;
}
@media (max-width: 575.98px) {
  .gallery-imgs:last-child {
    margin-top: 3%;
  }
}
@media (min-width: 1200px) {
  .gallery-imgs {
    margin: 3% 4%;
  }
}
.gallery-imgs img {
  border-radius: 2%;
  box-shadow: 20px 20px 1px #3a3d44cb;
  width: 70%;
}
@media (max-width: 575.98px) {
  .gallery-imgs img {
    box-shadow: 15px 15px 1px #3a3d44cb;
  }
}
@media (min-width: 1200px) {
  .gallery-imgs img {
    width: 110%;
  }
}
.gallery-imgs img:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.testimonial {
  display: flex;
  justify-content: center;
  width: 90%;
  padding: 3%;
}
@media (min-width: 768px) {
  .testimonial {
    width: 75%;
  }
}
@media (min-width: 992px) {
  .testimonial {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .testimonial {
    width: 43%;
  }
}

.homepage-testimonial {
  display: inherit;
  flex-direction: column;
  border: 2px solid #F7F2ED;
  border-radius: 50px;
  line-height: 1.4em;
  padding: 8%;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1200px) {
  .homepage-testimonial {
    padding: 10%;
  }
}
.homepage-testimonial a {
  color: #fff;
}

.author-info {
  font-size: 0.85em;
  font-weight: 500;
  line-height: 1.2;
}
@media (max-width: 991.98px) {
  .author-info {
    font-size: 0.95em;
  }
}

/* ------------------- F O O T E R ------------------- */
footer {
  background-color: #BC742B;
}

.social-icons {
  width: 100%;
  text-align: center;
}
.social-icons ul li {
  display: inline-block;
  padding: 0 20px;
  margin-top: 40px;
}
.social-icons img {
  width: 40px;
  height: auto;
}

footer p {
  text-align: center;
  color: #F7F2ED;
  padding: 20px 0;
}
footer p a {
  font-weight: 500;
  color: #F7F2ED;
}
footer p a:hover {
  color: #fff;
}

/* ------------------- P A G E S ------------------- */
/* --- ABOUT --- */
.about-page-text {
  display: inline-block;
  width: 65%;
  padding: 0 3% 5% 3%;
}

.about-page-sidebar {
  width: 35%;
  display: inline-block;
  padding: 0 3%;
}

.about-summary-list {
  color: #fff;
  font-size: 0.9em;
  line-height: 2em;
  border: 1px solid #fff;
  display: block;
  border-radius: 40px;
  padding: 8% 10%;
  margin-bottom: 50px;
}

/* --- SERVICES --- */
.service-intro {
  font-style: italic;
  line-height: 1.5em;
  margin: 3% 13% -2% 13%;
  text-align: center;
}

.service-row {
  margin: 0 auto;
}

.service-item {
  display: flex;
  flex-wrap: row;
  margin-bottom: 80px;
  align-items: center;
}

.service-item-images {
  margin-top: 5%;
  width: 40%;
  display: inline-block;
  padding-left: 7%;
}

.service-item-text {
  width: 59%;
  display: inline-block;
  padding-right: 6%;
}

.service-item:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
}

.service-item-text:nth-child(even) {
  width: 50%;
  padding-right: 0;
}

/* --- TESTIMONIALS --- */
.testimonial-row {
  margin-bottom: 50px;
  padding: 0 3%;
}

.testimonial-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3%;
}

.book-imgs {
  box-shadow: 20px 20px 1px #3a3d44;
  height: 290px;
}

.testimonial-text {
  border: 2px solid #F7F2ED;
  border-radius: 50px;
  width: 55%;
  line-height: 1.4em;
  padding: 5%;
  text-align: center;
}
.testimonial-text p {
  color: #fff;
}
.testimonial-text .author-info {
  margin-top: 10px;
  font-weight: 500;
  font-size: 0.9em;
  color: #242525;
}

.testimonial-item:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
}

.testimonial-text:nth-child(even) {
  margin-left: 6%;
}

/* CONTACT PAGE */
.contact-form {
  padding: 0 8%;
  font: azo-sans-web, open sans, sans-serif;
  font-size: 0.9em;
}

.wpforms-submit-container {
  display: flex;
  justify-content: center;
}

div.wpforms-container-full .wpforms-form input[type=submit], div.wpforms-container-full .wpforms-form button[type=submit], div.wpforms-container-full .wpforms-form .wpforms-page-button {
  border-radius: 50px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  margin-top: 30px;
  padding: 1% 5%;
}
div.wpforms-container-full .wpforms-form input[type=submit]:hover, div.wpforms-container-full .wpforms-form button[type=submit]:hover, div.wpforms-container-full .wpforms-form .wpforms-page-button:hover {
  background: #fff;
  color: #509082;
  opacity: 1;
}

/* BLOG */
/* ---- Blog Archive ---- */
.archive-container .row {
  width: 100%;
}

.blog-row {
  margin: 4% auto;
  width: 95%;
}

.nv-index-posts {
  width: 70%;
}

.nv-post-thumbnail-wrap {
  margin-bottom: 3%;
}

.content h2 {
  font-family: playfair-display, serif;
  font-size: 3em;
  font-weight: 800;
}

.entry-title a:hover {
  color: #F7F2ED;
}

a {
  color: #404248;
}
a:hover {
  transition: 0.2s;
  color: #F7F2ED;
}

/* --- testimonials media queries --- */
@media (max-width: 960px) {
  .widget_media_image, .widget_text {
    display: none;
  }
}
/* ---- Single Blog Post ---- */
.nv-title-meta-wrap h1 {
  color: #fff;
  font-size: 3.5em;
  font-weight: 800;
}

.single-post-container .row {
  width: 100%;
}

.nv-content-wrap .entry-content {
  margin: 20px;
}

h2.comments-title {
  color: #404248;
  font-weight: 600;
  font-size: 1.3em;
}

.blog-sidebar p {
  text-align: center;
}

.post p {
  font-family: "Garamond";
  font-size: 1.3em;
  line-height: 1.5em;
  margin-bottom: 15px;
  font-weight: 500;
}

.entry-content h2 {
  color: #F7F2ED;
  font-weight: 600;
  font-size: 1.7em;
  line-height: 120%;
  margin: 40px 0 15px;
}

.comment-reply-title {
  color: #F7F2ED;
}

.comments-area, .entry-content, .nv-content-wrap, .nv-thumb-wrap {
  margin: 0 12%;
}

/*# sourceMappingURL=style.css.map */
